.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.table-container {
  overflow-x: auto;
}

.mobile-table {
  width: 100%;
}

.mobile-serial-no {
  display: none;
}

@media (max-width: 768px) {
  .mobile-serial-no {
    display: table-cell;
  }
}
